* {
  margin: 0;
  padding: 0;
}

body {
  color: #011627e6;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

.header {
  background-color: #2ec4b6;
  padding: 1rem 0;
  text-align: center;
}

main {
  width: 40rem;
  margin: auto;
}

.new-msg-btn {
  border: 2px solid #ff9f1c;
  margin: 1.5rem 0;
  background: transparent;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 9px 0;
  color: #ff9f1c;
  border-radius: 7px;
  font-weight: bold;
  width: 100%;
  transition: all 300ms;
}

.new-msg-btn:hover {
  background-color: #ff9f1c;
  color: white;
}

.message {
  border: 1px solid #9e9e9e8c;
  margin: 0 0 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  box-shadow: 0px 3px 5px 0px #8080804d;
}

.title {
  /* color: #00cbb8; */
  padding-bottom: 6px;
}

.body {
  padding-bottom: 6px;
  border-bottom: 1px solid #00cbb8;
}

.author {
  font-size: 14px;
  padding-top: 6px;
}

.author span {
  font-weight: 600;
}
